<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Indonesia Tax Exchange Rates</title>
        <meta name="description" content="88Spares submission">
        <meta name="author" content="Adam Akbar">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>

    <body>
        <section id="app" class="section">
            <div class="container">
                <h1 class="title">
                    Indonesia Tax Exchange Rate
                </h1>
                <hr>
                <div class="field is-grouped">
                    <div class="control">
                        <div class="select">
                            <select v-model="selected_country" required>
                                <option value="" disabled selected>Select country name</option>
                                <option v-for="(country, index) in countries" :key="index">
                                    ${ country }
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-link" @click="searchRate">Submit</button>
                    </div>
                </div>
                <hr>

                <table v-if="search_result" class="table">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Exchange Rate</th>
                            <th>Difference</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${ search_result.name }</td>
                            <td>${ search_result.rate }</td>
                            <td>${ search_result.diff }</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

        {% csrf_token %}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            window.axios.defaults.headers.post['Authorization'] = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZWNtc2ciOiJBbGllbiBoYXMgaW52YWRlZCB0aGUgZWFydGghIn0.MMNRXWMfuL11xpHtLd8MnOc_7MKBOaR71-HkX3uDp0Q'
            window.axios.defaults.headers.common['X-CSRFToken'] = document.getElementsByName('csrfmiddlewaretoken')[0].value

            var app = new Vue({
                el: '#app',
                delimiters: ['${', '}'],
                data: {
                    countries: [],
                    selected_country: '',
                    search_result: null
                },
                mounted: function () {
                    var vm = this

                    axios.post('/api/countries')
                        .then(function (response) {
                            console.log(response.data)
                            vm.countries = response.data
                        })
                },
                methods: {
                    searchRate: function () {
                        var vm = this

                        if (vm.selected_country == '') {
                            alert('Please select country name.')

                            return;
                        }

                        axios.post('/api/rate/' + vm.selected_country)
                            .then(function (response) {
                                vm.search_result = response.data[0].fields
                            })
                    }
                }
            })
        </script>
    </body>
</html>